aenum==3.0.0
asgiref==3.3.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
defusedxml==0.7.1
Django==3.2
dumpit==0.6.0
idna==2.10
lxml==4.6.3
Marine-Traffic-API==0.20.1
numpy==1.20.2
pandas==1.2.4
plotly==4.14.3
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
retrying==1.3.3
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
termcolor==1.1.0
terminaltables==3.1.0
typing-extensions==3.7.4.3
ujson==4.0.2
urllib3==1.26.4
